/.env
/build
/dist
/env
OpenWarframe.py
OpenYoutube.py
snpshot.py
Task-Automate-3.py
Task-Automate-Testing.py
Task-Automate-Working.py
tempCodeRunnerFile.py
config.json
Task_Automate5.py
automated_scripts/NewOpenYoutube.py
automated_scripts/Linus.py
automated_scripts/Chess.py
automated_scripts/SteamWebsite.py
automated_scripts/YT.py
automated_scripts/Chess&Steam.py
automated_scripts/ChessSteam.py
automated_scripts/er.py
automated_scripts/OpenYT.py
automated_scripts/ytr.py
Task-Automate2.py
